# Homework 4 - pandas (YOUR NAME HERE)  
### due 11/17/2022   

Use this notebook and prompts to complete the homework. Throughout there will be hints and some code provided  

### Things you will need:  
- Install os, NumPy, pandas  
- states_covid.csv  
- Bloom_etal_2018_Reduced_Dataset.csv  
- logfiles.tgz (or some other multiple file dataset)  

*NOTE*: Make sure your **PATH** is correct. Can check path with `pwd`  

**import packages & check required datasets**

In [15]:
import os
import numpy as np
import pandas as pd

In [9]:
pwd

'C:\\Users\\ggarc\\OneDrive\\classes\\ggc_data_science_class\\assignments\\week11'

In [10]:
PATH = 'C:\\Users\\ggarc\\OneDrive\\classes\\ggc_data_science_class\\assignments\\week11'

In [11]:
assert os.path.exists(os.path.join(PATH,'states_covid.csv')), 'states_covid.csv does not exist'

In [13]:
assert os.path.exists(os.path.join(PATH,'Bloom_etal_2018_Reduced_Dataset.csv')), 'Bloom_etal_2018_Reduced_Dataset.csv does not exist'

## Task 1 - DataFrame manipulation  

Using **states_covid.csv**, we are going to read the data in as a DataFrame to manipulate, subset, and filter in various ways.   

### Task 1.1 

Read in states_covid.csv with date as a "date" dtype, and only columns consisting of the hospitalized (4 col), ICU (2 col), and Ventilators (2 col)

In [109]:
sc = pd.read_csv('states_covid.csv',
                                usecols = ['date','state',
                                           'hospitalized','hospitalizedCumulative',
                                           'hospitalizedCurrently','hospitalizedIncrease',
                                           'inIcuCumulative','inIcuCurrently',
                                           'onVentilatorCumulative','onVentilatorCurrently'])

### Task 1.2 

For each of the following catergories: *currently* hospitalized, *currently* in the ICU, and *currently* on ventilation...  
Find the 5 states with the greatest numbers in each catergory and list them in decreasing order.      
*hint*: sort_values, unique

In [54]:
# filter to get only maximum date (i.e., last date available = current date)
sc_state = sc.groupby('state',as_index = True).max(['date'])

# sort by more currently hospitalized
sc_state_ch = sc_state.sort_values('hospitalizedCurrently', ascending = False)

# subset columns for better viz
sc_state_ch = sc_state_ch[["hospitalizedCurrently"]] # didn't know that state was the index, that took a while to figure out
sc_state_ch.head()

       hospitalizedCurrently
state
CA                   22851.0
NY                   18825.0
TX                   14218.0
FL                    9520.0
NJ                    8270.0

In [55]:
# sort by currently in ICU
sc_state_cicu = sc_state.sort_values('inIcuCurrently', ascending = False)

# subset columns for better viz
sc_state_cicu = sc_state_cicu[["inIcuCurrently"]] 
sc_state_cicu.head()

       inIcuCurrently
state
NY             5225.0
CA             4971.0
TX             3686.0
NJ             2051.0
MI             1663.0

In [56]:
# sort by currently in ventilation
sc_state_cv = sc_state.sort_values('onVentilatorCurrently', ascending = False)

# subset columns for better viz
sc_state_cv = sc_state_cv[["onVentilatorCurrently"]] 
sc_state_cv.head()

       onVentilatorCurrently
state
NY                    2425.0
NJ                    1705.0
MI                    1441.0
OH                     863.0
AZ                     821.0

### Task 1.3 

For each state, identify the date when the state reached 1000 cumulative hospitilized covid patients

In [108]:
# filter states dataset to get only cummulative hospitalized values > 999
sc_1000 = sc[(sc.hospitalizedCumulative > 999)]

# subset columns of interest, group by state and find minimum
sc_1000 = sc_1000[["date","state","hospitalizedCumulative"]].groupby(['state']).min()

# print
sc_1000

             date  hospitalizedCumulative
state
AK     2020-12-29                  1004.0
AL     2020-05-01                  1008.0
AR     2020-06-15                  1003.0
AZ     2020-04-11                  1037.0
CO     2020-04-07                  1079.0
CT     2020-05-01                  7758.0
FL     2020-04-02                  1123.0
GA     2020-04-02                  1056.0
HI     2020-10-18                  1001.0
ID     2020-08-11                  1006.0
IN     2020-05-08                  4389.0
KS     2020-06-17                  1011.0
KY     2020-04-18                  1008.0
MA     2020-04-04                  1370.0
MD     2020-04-06                  1059.0
ME     2020-12-23                  1000.0
MN     2020-04-30                  1044.0
MS     2020-04-26                  1001.0
MT     2020-10-17                  1001.0
ND     2020-10-08                  1016.0
NE     2020-06-11                  1000.0
NH     2021-01-24                  1000.0
NJ     2020-05-26                 16373.0
NM     2020-05-20                  1139.0
NY     2020-03-21                  1531.0
OH     2020-04-04                  1006.0
OK     2020-06-03                  1003.0
OR     2020-06-25                  1006.0
PA     2020-04-04                  1004.0
RI     2020-05-03                  1013.0
SC     2020-04-29                  1000.0
SD     2020-08-29                  1006.0
TN     2020-04-29                  1013.0
UT     2020-06-13                  1012.0
VA     2020-04-16                  1048.0
WA     2020-05-21                  3125.0
WI     2020-04-14                  1049.0
WY     2020-12-18                  1001.0

## Task 2 - DataFrame summarizing  

Using **Bloom_etal_2018_Reduced_Dataset.csv**, we are going to do more dataframe manipulation and subsetting and summarizing    

### Task 2.1 

Read in Bloom_etal_2018_Reduced_Dataset.csv and create two new columns ('genus','species') that consists of the column *taxa* split at the underscore. Print out the head of this new dataframe and the number of unique genera**     

*hint:* pd.str.split(,expand=True)  

for example:  

| taxa | genus | species   
| :------ | :-- | :---   
| Alosa_alabamae | Alosa | alabamae

In [132]:
# read dataset
bloom = pd.read_csv('Bloom_etal_2018_Reduced_Dataset.csv')

# get genus and species info
genus_species_info = bloom["taxa"].str.split('_', expand = True)

# add columns to subset dataset 
bloom["genus"] = genus_species_info[0]
bloom["species"] = genus_species_info[1]

# print head
bloom_sub[["taxa","genus","species"]].head()

                   taxa  genus         species
0        Alosa_alabamae  Alosa        alabamae
1           Alosa_alosa  Alosa           alosa
2          Alosa_fallax  Alosa          fallax
3       Alosa_mediocris  Alosa       mediocris
4  Alosa_pseudoharengus  Alosa  pseudoharengus

In [131]:
print("There are", len(bloom_sub['genus'].unique()), "unique genera")

There are 34 unique genera

### Task 2.2 

Create a new dataframe with the mean *logbodysize* and *trophicposition* of each genera. Sort this data frame by the largest body size. Print the head of this dataframe.

In [164]:
# create new dataframe with mean trait values
bloom_info = bloom.groupby('genus').agg('mean')

# sort by largest body size
bloom_info = bloom_info.sort_values('logbodysize', ascending = False)

 # print head
bloom_info.head()

            logbodysize  trophic_position
genus
Tenualosa      1.778151          0.462398
Alosa          1.739062          0.540815
Coilia         1.544068          0.477121
Ethmalosa      1.544068          0.397940
Potamalosa     1.505150          0.518514

Which genera is the smallest and largest?

In [167]:
# print smallest genera and its trophic position
bloom_info[bloom_info.logbodysize == bloom_info.logbodysize.min()]

                logbodysize  trophic_position
genus
Amazonsprattus      0.30103          0.531479

In [169]:
 # print largest genera and its trophic position
bloom_info[bloom_info.logbodysize == bloom_info.logbodysize.max()]

           logbodysize  trophic_position
genus
Tenualosa     1.778151          0.462398

What is the trophic position of the smallest and largest?

In [ ]:
# see above

## Task 3 - Read in muliple files to a dictionary and make a DataFrame - **OPTIONAL/BONUS**  

### This is not something you are expected to do in this course, but just here to give you an idea of the things that you COULD do. Answers will be posted after due date.  


Using **logfiles**: we are going to do read in each file, get some data, append it to a dictionary to later make into a dataframe.     

**note:** *make sure to unzip logfiles*

In [20]:
cd $PATH

/Users/trevorfaske/Desktop/Classes/DataScience/pandas/Spring22

In [21]:
!tar -xzf logfiles.tgz #unzip logfiles

In [22]:
log_dir = os.path.join(PATH,'logfiles')
assert os.path.exists(log_dir), 'log_dir does not exist'

First step is to find the necessary files. The number of files in the log files is 36, make sure you have that many as well

In [23]:
!ls -l logfiles/*txt | wc -l

      36

In [24]:
logfiles = !find $log_dir -name '*txt' #unix command to find files in log_dir directory
logfiles = [os.path.abspath(x) for x in logfiles] #this finds the full path to the file
print(logfiles[1])

/Users/trevorfaske/g/Classes/DataScience/pandas/Spring22/logfiles/1901302121_H8_S_14.txt.txt

In [25]:
assert(len(logfiles)==36), 'Do not have correct number of logfiles'

### Getting a little tricky here  

Read in each of the logfiles, for each file extract:  
- minimum temperature  
- maximum temperature  
- date of minimum temp   
- date of maximum temp   
- mean temp for each file.   

This data should all be appended for a dictionary within a for loop:    
Key should be the file name without the path or .txt extension  
Values should be (minTemp,maxTemp,minDate,maxDate,meanTemp)

I recommend making this work for one file first, then putting the rest in a for loop to do the rest.  

Below is an example of how to read in one file

*hint:* do not read date in as date object

In [41]:
### set up data frame as you read in each file
infile = pd.read_csv(logfiles[0],sep='\t',engine='python')
infile.columns = ['Index','Date','Time','Temp','Type']
infile = infile[['Date','Time','Temp']]
infile.head()

        Date         Time  Temp
0  9/16/2013   8:00:00 AM  47.9
1  9/16/2013   8:35:00 AM  48.2
2  9/16/2013   9:10:00 AM  48.7
3  9/16/2013   9:45:00 AM  49.4
4  9/16/2013  10:20:00 AM  50.3

Do everything in steps, make sure it works. Calculate summaries with this one infile:

In [26]:
minTemp =   
maxTemp =  
minDate = infile['Date'][infile['Temp'] == infile['Temp'].min()].unique()[0] #use this for minDate 
maxDate = infile['Date'][infile['Temp'] == infile['Temp'].max()].unique()[0] #use this for maxDate 
meanTemp =

SyntaxError: invalid syntax (<ipython-input-26-d888355c2242>, line 1)

To get you started, I suggest writing some dummy code in plain words to help outline your for loop:

In [ ]:
logfiles_dict = {}  
for f in logfiles:  
    #do something   
    #do not read date in as date object  
    #do more something   
    #do other stuff  
    #make print statements EVERYWHERE  
    #append to dict  
    #blahbahblah

Then do the real code below here. You don't need to turnin your thoughts. Just put it in there as a help reminder. Most people all still do this, no matter how advanced they are

**Once you have created a DataFrame with all the logfiles, print the head and save it to an outfile using pd.to_csv() as logfiles_df.csv**

#### Here is an example of the final product

In [32]:
logfiles_df.head()

                     minTemp  maxTemp     minDate    maxDate   meanTemp
1901302235_H6_S_14      21.3     65.8   12/6/2013  7/13/2014  35.726191
1901302121_H8_S_14      17.9     73.4  10/28/2013  7/13/2014  34.698866
1901302217_H18_D_14     21.0     82.4  10/28/2013  7/26/2014  33.334564
1901302110_H13_S_14     22.8     60.9   10/4/2013  7/13/2014  32.240032
1901302146_H14_D_14     24.6     66.1   1/21/2014  7/13/2014  34.242075